.dashboard-card{

background:white;

border-radius:18px;

padding:25px;

display:flex;

align-items:center;

gap:20px;

box-shadow:0 10px 20px rgba(0,0,0,.15);

transition:.3s;

}

.dashboard-card:hover{

transform:translateY(-10px);

}

.card-icon{

width:70px;

height:70px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-size:30px;

color:white;

}

.card-content h3{

color:#64748B;

}

.card-content h1{

margin-top:10px;

font-size:38px;

}